.full-size {
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-left: 2vw;
  padding-right: 2vw;
  // position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vw;
}
.name-and-title {
  h1 {
    font-size: 80px;
    font-family: General Sans Light, sans-serif;
  }
  h2 {
    margin-bottom: 21px;
    font-family: General Sans Regular, sans-serif;
  }
  align-self: flex-end;
}

.hero-anim {
  align-self: flex-end;
}
.placeholder {
  width: 350px;
  height: 350px;
  background-color: gray;
  border-radius: 50%;
}
//circle animation vanilla
.circle {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  opacity: 0;
  position: absolute;
  user-select: none;
  pointer-events: none;
  animation: animate 7.5s linear infinite;
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  span {
    position: absolute;
    top: -100px;
    display: inline-block;
    transform-origin: 0 100px;
  }
}
