@font-face {
  font-family: "General Sans Light";
  src: local("General-Sans-Light"),
    url(../fonts/GeneralSans-Light.woff) format("woff");
}
@font-face {
  font-family: "General Sans Regular";
  src: local("General-Sans-Regular"),
    url(../fonts/GeneralSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "Satoshi Regular";
  src: local("Satoshi-Regular"),
    url(../fonts/Satoshi-Regular.woff) format("woff");
}
